In [1]:
#%pip install yfinance

In [11]:
import requests
import numpy as np
import pandas as pd
import yfinance as yf
import random
from gym import Env
from gym.spaces import Discrete, Box
import matplotlib.pyplot as plt

In [2]:
def getTickerData(ticker, period, interval):
    hist = yf.download(tickers = ticker, period=period, interval=interval)
    df = pd.DataFrame(hist)
    df = df.reset_index()
    return df

In [3]:
df = getTickerData('btc-usd', 'max', '1d')
df = df.drop(columns={'Volume', 'Adj Close', 'Open', 'High', 'Low'})
df = df.rename(columns={'Close': 'close', 'Date': 'date'})
df['date'] = pd.to_datetime(df['date'])
df

[*********************100%***********************]  1 of 1 completed

           date         close
0    2014-09-17    457.334015
1    2014-09-18    424.440002
2    2014-09-19    394.795990
3    2014-09-20    408.903992
4    2014-09-21    398.821014
...         ...           ...
3139 2023-04-22  27817.500000
3140 2023-04-23  27591.384766
3141 2023-04-24  27525.339844
3142 2023-04-25  28307.597656
3143 2023-04-26  29732.957031

[3144 rows x 2 columns]

In [131]:
rn = random.randint(0, df.value_counts().sum())
df2 = df.iloc[rn:rn+24,:].values
df2

array([[Timestamp('2022-01-20 00:00:00'), 40680.41796875],
       [Timestamp('2022-01-21 00:00:00'), 36457.31640625],
       [Timestamp('2022-01-22 00:00:00'), 35030.25],
       [Timestamp('2022-01-23 00:00:00'), 36276.8046875],
       [Timestamp('2022-01-24 00:00:00'), 36654.328125],
       [Timestamp('2022-01-25 00:00:00'), 36954.00390625],
       [Timestamp('2022-01-26 00:00:00'), 36852.12109375],
       [Timestamp('2022-01-27 00:00:00'), 37138.234375],
       [Timestamp('2022-01-28 00:00:00'), 37784.33203125],
       [Timestamp('2022-01-29 00:00:00'), 38138.1796875],
       [Timestamp('2022-01-30 00:00:00'), 37917.6015625],
       [Timestamp('2022-01-31 00:00:00'), 38483.125],
       [Timestamp('2022-02-01 00:00:00'), 38743.2734375],
       [Timestamp('2022-02-02 00:00:00'), 36952.984375],
       [Timestamp('2022-02-03 00:00:00'), 37154.6015625],
       [Timestamp('2022-02-04 00:00:00'), 41500.875],
       [Timestamp('2022-02-05 00:00:00'), 41441.1640625],
       [Timestamp('2022-02-06 00:00:00'), 42412.43359375],
       [Timestamp('2022-02-07 00:00:00'), 43840.28515625],
       [Timestamp('2022-02-08 00:00:00'), 44118.4453125],
       [Timestamp('2022-02-09 00:00:00'), 44338.796875],
       [Timestamp('2022-02-10 00:00:00'), 43565.11328125],
       [Timestamp('2022-02-11 00:00:00'), 42407.9375],
       [Timestamp('2022-02-12 00:00:00'), 42244.46875]], dtype=object)

In [262]:
class TradingEnv(Env):
    def __init__(self, df, window_size) -> None:
        super().__init__()
        self.df = df.drop(columns={'date'})
        self.window_size = window_size
        self.observation_space = Box(low=-np.inf, high=np.inf, shape=(window_size, self.df.shape[1]))
        self.action_space = Discrete(2)
        self.done = None
        
    def step(self, action):
        pass
        
    def reset(self):
        rn = random.randint(0, df.value_counts().sum())
        self.done = False
        return self.df.iloc[rn:rn+self.window_size,:].values
    
    def close():
        pass
    
    def render():
        pass

In [263]:
env = TradingEnv(df, 24)

In [264]:
env.reset()

array([[55859.796875  ],
       [56704.57421875],
       [49150.53515625],
       [49716.19140625],
       [49880.53515625],
       [46760.1875    ],
       [46456.05859375],
       [43537.51171875],
       [42909.40234375],
       [37002.44140625],
       [40782.73828125],
       [37304.69140625],
       [37536.6328125 ],
       [34770.58203125],
       [38705.98046875],
       [38402.22265625],
       [39294.19921875],
       [38436.96875   ],
       [35697.60546875],
       [34616.06640625],
       [35678.12890625],
       [37332.85546875],
       [36684.92578125],
       [37575.1796875 ]])

In [266]:
env.observation_space.sample()

array([[-1.6859998 ],
       [ 0.08995105],
       [ 0.5286742 ],
       [ 0.3020816 ],
       [ 1.6083019 ],
       [ 0.49004412],
       [ 2.1249847 ],
       [ 0.748544  ],
       [ 0.52129215],
       [ 1.135478  ],
       [-1.0935725 ],
       [-0.05944352],
       [-0.11387068],
       [ 1.3883344 ],
       [-0.8300351 ],
       [ 0.4943595 ],
       [-2.1971595 ],
       [-0.29393315],
       [ 0.67728543],
       [ 0.02854411],
       [ 1.6480627 ],
       [-0.15324225],
       [ 0.5310188 ],
       [-1.0086982 ]], dtype=float32)