In [1]:
#%pip install yfinance

In [11]:
import requests
import numpy as np
import pandas as pd
import yfinance as yf
from gym import Env
from gym.spaces import Discrete, Box

In [12]:
def getTickerData(ticker, period, interval):
    hist = yf.download(tickers = ticker, period=period, interval=interval)
    df = pd.DataFrame(hist)
    df = df.reset_index()
    return df

In [19]:
df = getTickerData('btc-usd', 'max', '1d')
df = df.drop(columns={'Volume', 'Adj Close', 'Open', 'High', 'Low'})
df = df.rename(columns={'Close': 'close', 'Date': 'date'})
df['date'] = pd.to_datetime(df['date'])
df

[*********************100%***********************]  1 of 1 completed

           date         close
0    2014-09-17    457.334015
1    2014-09-18    424.440002
2    2014-09-19    394.795990
3    2014-09-20    408.903992
4    2014-09-21    398.821014
...         ...           ...
3139 2023-04-22  27817.500000
3140 2023-04-23  27591.384766
3141 2023-04-24  27525.339844
3142 2023-04-25  28307.597656
3143 2023-04-26  29752.642578

[3144 rows x 2 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3144 entries, 0 to 3143
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3144 non-null   datetime64[ns]
 1   open    3144 non-null   float64
 2   high    3144 non-null   float64
 3   low     3144 non-null   float64
 4   close   3144 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 122.9 KB

In [ ]:
class TradingEnv(Env):
    def __init__(self, df, window) -> None:
        super().__init__()
        self.df = df
        self.window = window
        self.observation_space = Box(low=-np.inf, high=np.inf, shape=(window, df.shape[1]))
        self.action_space = Discrete(2)
        
    def step(self, action):
        pass
        
    def reset():
        pass
    
    def close():
        pass
    
    def render():
        pass